@model Employee
@{
    ViewData["Title"] = "Salary Calculator";
}
<div class="container">


    <h1 class="mt-3">@ViewData["Title"]</h1>
    
    <div class="container-fluid">
	    <div class="row">
		    <div class="col-md-3">Employee: @ViewData["Name"]</div>
		    <div class="col-md-3">Title: @ViewData["EmpTitle"]</div>
		    <div class="col-md-3"></div>
		    <div class="col-md-3"></div>
	    </div>
    </div>
    
    
    
     <main>

        <form asp-action="Salary" method="post">
          <div class="form-group row">
            <label asp-for="Name" for="Name" class="col-4 col-form-label">Name</label> 
            <div class="col-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-address-card fa-fw"></i>
                  </div>
                </div> 
                <input asp-for="Name" id="Name" name="Name" type="text" required="required" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label asp-for="Title" for="Title" class="col-4 col-form-label">Title</label> 
            <div class="col-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-id-badge fa-fw"></i>
                  </div>
                </div> 
                <input asp-for="Title" id="Title" name="Title" type="text" class="form-control" required="required">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label asp-for="PayRate" for="PayRate" class="col-4 col-form-label">Pay Rate</label> 
            <div class="col-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-dollar fa-fw"></i>
                  </div>
                </div> 
                <input asp-for="PayRate" id="PayRate" name="PayRate" type="text" class="form-control" required="required" onkeypress="return onlyFloat(event)">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label asp-for="Hours" for="Hours" class="col-4 col-form-label">Hours Worked</label> 
            <div class="col-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-clock-o fa-fw"></i>
                  </div>
                </div> 
                <input asp-for="Hours" id="Hours" name="Hours" type="text" class="form-control" required="required" onkeypress="return onlyTimeSpanString(event)">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="Salary" class="col-4 col-form-label">Salary</label> 
            <div class="col-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-money fa-fw"></i>
                  </div>
                </div> 
                <input value="@ViewBag.Salary.ToString("c2")" id="Salary" name="Salary" type="text" readonly class="form-control">
              </div>
            </div>
          </div> 
          <div class="form-group row">
            <div class="offset-4 col-8">
              <button name="submit" type="submit" class="btn btn-primary">Calculate</button>
	          <a asp-action="Salary" class="btn btn-outline-secondary">Clear</a>
            </div>
          </div>
        </form>
    </main>
    
    
</div>